{% extends "innovate/layout.html" %}

{% block body %}

<form method="Post" action="{% url 'create' %}"  id="new" enctype="multipart/form-data">
    {% csrf_token %}
    
         <div>
            <label for="title" class="form-label">Title : </label>
            <input type="text" id="title" class="form-control" name="title">
        </div>
          

          <div>
            <label for="subject" class="form-label">Upload Image : </label>
            <input type="file" id="image" class="form-control" name="image" accept="image/*">
          </div>
          <div>
            <label for="subject" class="form-label">Upload Business Plan : </label>
            <input type="file" id="image" class="form-control" name="plan" accept=".ppt,.pptx,.txt,.pdf">
          </div>
          

          <div>
            <label for="description" class="form-label">Description : </label>
            <textarea id="description" name="description" rows="4" cols="50" class="form-control">
              </textarea>
          </div>

          <input type="submit" value="create" class="btn btn-success">
         

       
</form>






{% endblock %}

<script>

</script>