{% extends "innovate/layout.html" %}

{% block body %} 
<h1>Welcome {{user.username}}</h1>
<form  method="Post" action="{% url 'search' %}">
    {% csrf_token %}
<div id="search-bar">
    <input type="text" placeholder = "Search for startup" name="s_word">
    <button type="submit">Go</button>
</div>
</form>

<br>    
<div>
    
    <div id="items">
    {% for startup in startups %}
    
        <div class="card parent" style="width: 18rem;">
            <img src="{{ startup.image }}" class="card-img-top" >
            <div class="card-header">
                <a href="{% url 'startup' startup.id %}">{{startup.name}}</a>
                {% if startup in favourites %}
                    <a href="#"><i class="fas fa-heart like-btn fill " data-id={{favourite.id}}></i></a>
                {% else %}
                    <i class="far fa-heart like-btn fill" data-id={{favourite.id}}></i>
                {% endif %}      
            </div>
            {% if startup.founder == user%}
            
            {% endif %}
        
            <div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Founded by {{startup.founder}}</li>
                  <li class="list-group-item" maxlength="10" class="text">{{startup.description }}</li>
                
                </ul>
            </div>
            <div class="card-footer text-muted child">
                <small class="text-muted">{{startup.timestamp}}</small>
                
            </div>
        </div>
        <br>
        {% endfor %}
    </div>   
    
</div>




{% endblock %}