{% extends "innovate/layout.html" %}

{% block body %} 
<div id="search-bar">
    <input type="text" placeholder = "Search for startup">
    <button type="submit">Go</button>
</div>
<br>    
<div>
    
    <div id="items">
    {% for startup in startups %}

        <div class="card" style="width: 18rem;">
            <div class="card-header">
              {{startup.name}}
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">{{startup.subject }}</li>
              <li class="list-group-item">Founder : {{startup.founder}}</li>
            
            </ul>
            <div class="card-footer text-muted">
                {{startup.timestamp}}
            </div>
        </div>
        <br>
        {% endfor %}
    </div>   
    
</div>




{% endblock %}